In [1]:
print("Hello World")

Hello World

In [2]:
import os
from kaggle.api.kaggle_api_extended import KaggleApi

# Create a 'datasets' folder in the project directory if it doesn't exist
os.makedirs("./datasets", exist_ok=True)

# Initialize and authenticate Kaggle API
api = KaggleApi()
api.authenticate()

# Specify the dataset
dataset_name = "najir0123/walmart-10k-sales-datasets"

# Set the download path to the 'datasets' folder in the project directory
download_path = "./datasets"

# Download and extract the dataset
api.dataset_download_files(dataset_name, path=download_path, unzip=True)

print(f"Dataset downloaded and extracted to {os.path.abspath(download_path)}")

Dataset URL: https://www.kaggle.com/datasets/najir0123/walmart-10k-sales-datasets
Dataset downloaded and extracted to C:\Users\HP\OneDrive\Desktop\PYTHON_SQL PROJECT\venv1\datasets

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("C:/Users/HP/OneDrive/Desktop/PYTHON_SQL PROJECT/venv1/datasets/Walmart.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [5]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [6]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(51)

In [8]:
df.drop_duplicates(inplace=True) #inplace=True is important

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
df.dropna(inplace=True)

In [11]:
df.describe()

         invoice_id     quantity       rating  profit_margin
count   9969.000000  9969.000000  9969.000000    9969.000000
mean    5010.116561     2.355602     5.828839       0.393744
std     2886.217349     1.605455     1.763723       0.090659
min        1.000000     1.000000     3.000000       0.180000
25%     2524.000000     1.000000     4.000000       0.330000
50%     5016.000000     2.000000     6.000000       0.330000
75%     7508.000000     3.000000     7.000000       0.480000
max    10000.000000    10.000000    10.000000       0.570000

In [12]:
df["unit_price"]=df["unit_price"].str.replace('$','').astype(float)

In [13]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB

In [15]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [16]:
df['Totals']=df['unit_price']*df['quantity']

In [17]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,Totals
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [18]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
     ---------------------------------------- 45.0/45.0 kB ? eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
!pip install sqlalchemy

Collecting sqlalchemy

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Using cached SQLAlchemy-2.0.36-cp310-cp310-win_amd64.whl (2.1 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-3.1.1-cp310-cp310-win_amd64.whl (298 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\onedrive\desktop\python_sql project\venv1\lib\site-packages (from sqlalchemy) (4.12.2)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.36

both pymysql and sqlalchemy are sql libraries to connect with python

In [20]:
import pymysql
from sqlalchemy import create_engine

In [21]:
df.shape

(9969, 12)

In [28]:
#mysql connect
#engine = create_engine("mysql+pymysql://username:password@localhost/dbname")

engine_mysql= create_engine("mysql+pymysql://root:Gaurav%40143@localhost:3306/walmart_db")
try:
    engine_mysql
    print("Connection Successfull to mysql")
except: 
    print("Unable to connect")

Connection Successfull to mysql

In [29]:
df.to_sql(name='walmart',con=engine_mysql, if_exists='append', index= False)

9969